/* MUTUAL */

html {
  height: 100%;
  width: 100%;
}

.headerBigContainer {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

.logoContainer {
  background-image: linear-gradient(#292929, #5c5c5c);
  text-align: center;
  border-radius:  0px 30px 0px 0px;
  padding: 20px;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 48.6px; /* 146 */
  width: 323.3px; /* 970 */
}

.sloganContainer {
  text-align: center;
  background-color: #000000;
  margin: 0px;
  padding: 10px;
  animation: mymove 5s infinite;
  border-bottom-width: 3px;
  border-bottom-style: solid;
}

.slogan {
  margin: 0px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  0% {color: #e33535;}
  50% {color: #4880db;}
  100% {color: #e33535;}
}

ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  border-radius: 0px 0px 0px 30px;
  z-index: 2;
  padding-left: 0px;
  background-image: linear-gradient(#000000, #383838);;
}

li {
  float: center;
  text-align: center;
  display: flex;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px 20px 20px 20px;
  transition-duration: 0.2s;
}

li a:hover {
  background-color: #2e2e2e;
}

.footer1 {
  background: #333;
  width: 100%;
  height: 4em;
  vertical-align: center;
  padding: 20px 20px 75px 20px;
  box-sizing: border-box;
  box-shadow: 0px -2px rgb(189, 0, 0);;
  top: 0px;
  display: block;
  margin-top: 30px;
}

.footer2 {
  background: #111;
  width: 100%;
  height: 5em;
  vertical-align: center;
  box-sizing: border-box;
  padding: 2px;
  padding-top: 5px;
  top: 0px;
  display: block;
}

.footerwording {
  text-align: center;
  font-family: verdana;
  color: white;
  font-size: 10px;
  text-decoration: none;
}

.footerLink {
  text-decoration: none;
  color: white;
  font-weight: bold;
}






/* INDEX */

.logoBanner {
  height: 85%;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
  box-shadow: 0px 0px 30px black;
  border-radius: 30px 0px 30px 0px;
}

.categoryHeaderContainer {
  text-align: center;
  font-family: verdana;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  height: 85%;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
  border-radius: 0px 30px 0px 30px;
  background-image: linear-gradient(#f5f5f5, #d6d6d6)
}

.categoryHeader {
  margin: 10px;
}

.categoryHeaderDescription {
  margin: 10px;
}


.categoryLinkContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
  height: 85%;
  width: 85%;
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
  transition: height, width 0.5s;
}

.categoryLinkContainer:hover {
  background-color: #e6e6e6;
  height: 100%;
  width: 100%;
}

.categoryLinkHeader {
  float: center;
  display: block;
  text-align: center;
  font-family: verdana;
  font-weight: bold;
  text-shadow: 0px 2px 15px black;
  font-size: 3vw;
  margin-top: 25%;
  margin-bottom: 25%;
}

.categoryLinkTextBox {
  margin: 0px;
  height: 26vw;
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.categoryImage1 {
  width: 50%;
  height: 50%;
  margin: 0px;
  padding: 0px;
}

.categoryImage2 {
  width: 50%;
  height: 50%;
  margin: 0px;
  padding: 0px;
  margin-left: 50%;
  margin-right: auto;
  display: block;
}


.categoryLink {
  text-decoration: none;
  border: 1px solid black;
  background-color: #ebebeb;
  border-radius: 5px;
  padding: 15px 20px;
  border-width: 1px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  transition-duration: 0.2s;
  cursor: pointer;
  font-family: verdana;
  margin: 10px;
  color: black;
}

.categoryLink:hover {
  background-color: #d9d9d9;
}

.buttonParent {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  text-align: center;
}




/* TRIVIA CATEGORIES */

.backToCategories {
  margin: 20px 5% 0px 5%;
  background-color: #d9d9d9;
  padding: 10px;
  border-radius: 20px;
  float: left;
  transition-duration: 0.2s;
}

.backToCategories:hover {
  background-color: #c2c2c2;
}

.backToCategoriesText {
  text-decoration: none;
  color: black;
  font-family: verdana;
}

.backArrow {
  height: 15px;
  width: 15px;
  margin-right: 5px;
}

.box {
  width: 90%;
  margin: 60px auto;
  background: #fff;
  border-radius: 7px;
  box-shadow: 1px 2px 4px rgba(0,0,0,.3);
  border-radius: 0px 0px 14px 0px;
}

.box .heading {
  border-radius: 14px 0px 0px 0px;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-family: verdana;
}

.boxContents {
  padding: 0px 20px 20px;
}

details {
  background: #f6f6f6;
  padding: 10px 20px;
  border-radius: 14px;
  margin-top: 20px;
  font-family: verdana;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}

details summary {
  outline: none;
}





#quizQuestionNumber {
  font-family: verdana;
  font-size: 14px;
  border-bottom: 0.3px solid #d6d6d6;
  text-align: left;
  padding-bottom: 15px;
}

#quizQuestion {
  padding: 8px;
  font-family: verdana;
  font-weight: bold;
  font-size: 14px;
}

#quizNextButton {
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 0px;
  border: none;
  border-radius: 4px;
}

#quizNextButton:disabled {
  background-color: #c2c2c2;
  margin-top: 10px;
}

#quizResult {
  display: block;
}

.quizContainer {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: verdana;
}

#quizOptions {
  margin-top: 20px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f7f7f7;
  border-color: #dedede;
  color: #000000;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #e3e3e3;
}

.correct:hover {
  background-color: #82c986;
}

.correct {
  background-color: #a4d0a6;
  border-color: #4ab04a;
}

.incorrect:hover {
  background-color: #ff8d85;
}

.incorrect {
  background-color: #ffa9a3;
  border-color: #e02c1f;
}

#timerIcon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.timerContainer {
  align-items: center;
  justify-content: center;
  display: flex;
}