/* MUTUAL */

html {
  height: 100%;
  width: 100%;
}

.title {
  background-color: black;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: white;
  padding: 15px;
  margin-bottom: 0px;
  border-radius:  0px 30px 0px 0px;
  font-family: 'Montserrat', sans-serif;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 8px;
}

ul {
  list-style-type: none;
  margin: 0;
  text-align: center;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  border-radius: 0px 0px 0px 30px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  background-color: black;
}

li {
  float: center;
  text-align: center;
  display: flex;
  top: 0;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px 20px 20px 20px;
}

li a:hover {
  background-color: #454545;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.footer1 {
  background: #333;
  width: 100%;
  height: 4em;
  vertical-align: center;
  padding: 20px 20px 75px 20px;
  box-sizing: border-box;
  box-shadow: 0px -2px rgb(189, 0, 0);;
  top: 0px;
  display: block;
  margin-top: 30px;
}

.footer2 {
  background: #111;
  width: 100%;
  height: 5em;
  vertical-align: center;
  box-sizing: border-box;
  padding: 2px;
  padding-top: 5px;
  top: 0px;
  display: block;
}

.footerwording {
  text-align: center;
  font-family: verdana;
  color: white;
  font-size: 10px;
  text-decoration: none;
}

.footerLink {
  text-decoration: none;
  color: white;
  font-weight: bold;
}






/* INDEX */

.categoryLink {
  text-decoration: none;
  border: 2px solid black;
  padding: 25px 40px;
  border-width: 3px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: verdana;
  vertical-align: middle;
  justify-content: center;
  float: center;
  margin: 10px;
}

.buttonParent {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 15px;
  text-align: center;
}

.geographyLink {
  background-color: #dedede;
  color: black;
}

.geographyLink:hover {
  background-color: #000000;
  color: white;
}

.musicLink {
  background-color: #d9d9d9;
  color: black;
}

.musicLink:hover {
  background-color: #000000;
  color: white;
}

.flagsLink {
  background-color: #c2c2c2;
  color: black;
}

.flagsLink:hover {
  background-color: #000000;
  color: white;
}

.automotiveLink {
  background-color: #a6a6a6;
  color: black;
}

.automotiveLink:hover {
  background-color: #000000;
  color: white;
}

.politicsLink {
  background-color: #8f8f8f;
  color: white;
}

.politicsLink:hover {
  background-color: #000000;
  color: white;
}

.gamingLink {
  background-color: #808080;
  color: white;
}

.gamingLink:hover {
  background-color: #000000;
  color: white;
}

.moviestvLink {
  background-color: #737373;
  color: white;
}

.moviestvLink:hover {
  background-color: #000000;
  color: white;
}

.technologyLink {
  background-color: #595959;
  color: white;
}

.technologyLink:hover {
  background-color: #ffffff;
  color: black;
}

.celebritiesLink {
  background-color: #525252;
  color: white;
}

.celebritiesLink:hover {
  background-color: #ffffff;
  color: black;
}

.historyLink {
  background-color: #212121;
  color: white;
}

.historyLink:hover {
  background-color: #ffffff;
  color: black;
}